#NomM
{
width: 200px;
margin: auto;
}
#Article
{
width: 200px;
margin-left:45px;
}
#Catégorie
{
width: 200px;
margin-left:28px;
}
#Qte
{
width: 200px;
margin-left:36px;
}
#search
{
width: 21=0px;
margin-left:30px;
}